{% extends 'app/base.html' %}

{% block content %}
    <h2 class="margin-bottom">Food List</h2>
    <div class="margin-bottom">
        <form method="POST" action={% url 'create_food' %}>
            {% csrf_token %}
            <div
                <label for="id_name">Name:</label>
                {{ form.name }}
            </div>
            <div>
                <label for="id_description">Description:</label>
                {{ form.description }}
            </div>
            <div>
                <label for="id_store">Store:</label>
                <div>
                    {{ form.store }}
                    <button type="button" class="btn btn-secondary" onclick="(() => { window.location.href='/store'; })()">Add</button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created Date</th>
                </tr>
            </thead>
            <tbody>
                {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.created_date|date:'Y-m-d H:i:s' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
