{% extends 'app/base.html' %}

{% block content %}
    <h2 class="margin-bottom">Food List</h2>
    <div class="margin-bottom">
        <form method="POST" action={% url 'create_food' %}>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created Date</th>
                </tr>
            </thead>
            <tbody>
                {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.created_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
